@media only screen and (max-width: 768px) {
    .allh6{
        text-align: left;
        transform: translateX(5px) !important;
    }
    .headeratag{
        color: gray;
        margin-left: 5px !important;
    }
    .allh3{
        margin-top: 10px !important;
    }
    /* Media Header area */
    .headersidedivs{
        height: 4vh !important;
    }
    .mainnavdiv>a>span{
        padding:1px 8px !important;
        transform: translateX(4px) !important;
    }
    .mainnavdiv>a>span>i{
        font-size: 12px !important;
    }
    .navul{
    padding-top: 10px !important; 
    display: flex;
    flex-direction: row;
    justify-content: center !important; 
    }
    .all-li-area{
        margin-left: 5px !important;
    }
    .allh1{
        font-size: 15px !important;
        transform: translate(10px,2px) !important;        
    }
    .myallnavli{
        margin-left: 2px !important;
        font-size: 9px !important;
    }
    .firstchildnavli:hover .litopdiv{
        height: 4vh !important; 
    }
/* About Section */
/* Main Area Start */  
/*  We Are Hasta Css Section */  

/*  We Are Hasta Css Section End */
/* Lorem Section Area Start */
.lorem-area>div>div>div>p{
    font-size: 14px !important;
}
/* Lorem Section Area End */
/* Meet Our Team Section Css Area Start */
.meet-our-team-main{
    height: 100% !important;
}
.meet-our-team-header>h3{
    font-size: 20px !important;
}
.meet-our-team-header>p{
    font-size: 12px !important;
}
.overflowdiv{
    width: 100% !important;
}
.bio-hover-div{
    width: 92% !important;
}
.third-image-bio-div{
    width: 92%;
    height: 40px;
}
/* Meet Our Team Section Css Area End */
/* What We Offer Section Start */

/* What We Offer Section End */
/* Main Area End */
/* Footer Area Start */
/* Dark Footer Section Start */
.darkfootersection{
    height: 230vh !important;
}
.footerheadercol{
    height: 50vh !important;
}
.iconsoverfooterarea{
    height: 10vh !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center;
}
.endatag{
    padding: 5px 6px !important;
    margin-left: 6px !important;
}
.paddingicons{
    padding: 5px 10px !important;
}
.footercopyarea{
    text-align: left !important;
    font-size: 14px !important;
}
  }