/* Header Css Area Start*/
.allh6{
    color:gray; 
    text-align: right;
    font-size: 16px;
    margin-top: 4%;
    font-weight: 2;
    transform: translateX(55px);
}
.allh1{
    font-size: 32px;
    transform: translate(15px,2px);
    cursor: pointer;
}
.headersidedivs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.allatag:hover{
    text-decoration: none;
}
.headeratag{
    color: gray;
    font-size: 15px;
    margin-left: 15px;
    transition: 0.6s;
}
.headeratag>span{
    border-left:1px solid gray;
    border-right:1px solid gray;
    padding:0 10px;    
} 
.headeratag:hover{
    color:rgb(27, 27, 27);
    text-decoration: none;
}
/* Header Css Area End */
/* Nav Css Area Start */
.mainnavdiv>a>span{
    padding:5px 9px;
    border-radius: 100%;
    background-color: #fd602c;
}
.mainnavdiv>a>span>i{
    color:white;
    transform: rotate(-45deg);   
}
/* Half Nav Area Start */
.navul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;  
}
.firstchildnavli>a{
    color:#fd602c !important;
}
.fisrtchildnavlicopy>a{
    color:gray !important;
}
.myallnavli{
    list-style-type: none;
}
.myallnavli>a{   
    color:grey;
}
.myallnavli>a:hover{
    color:#fd602c;
}
/* inner Ul */
.firstchildnavli:hover .innernavul{
    display: block;
    position: absolute;
    z-index: 1;
    transform: translateX(-20px);
}
.firstchildnavli:hover .litopdiv{
    height: 100%; 
}

/* Div in Navbar Dropdown */
.innernavul{
    display:none;
}
.innernavul>a{
    color:gray;
}

.innernavul>a:hover{
    color:black;
}
.innerli{
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    background-color: white;
}
.secondulfirstchildli>a{
    color:gray !important;
}
 /* Slider Area Animation Effect  */
 .animatebook{
    position: absolute;
}
.animatebook1{
    top:0px;
    margin-left: 500px;
    margin-left: 70%;
    margin-top: 170px;
    animation-name:bouncen;
}
@keyframes bouncen {
    0%   { 
        opacity:0;
        margin-left: 1500px;
    }
    100% { 
        opacity: 1;
        transition: 0.8s;
        margin-left: 870px;

    }
  }  

/* Nav Css Area End  */
/* Main  Sections */
/*  We Are Hasta Css Section */
.allatag{
    text-decoration: none;
    color: black;
}
.allatag:hover{
    color: black;
}
.we-are-hasta-mainimage{
   background-image: url("img/teamhumans.jpg");
   background-size: cover;
   height: 250px;
}
.we-are-hasta-mainimage::before{
    content: "";
    background-color: black;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    position: absolute;
}
.we-are-hasta-h{
   text-align: center;
   transform: translateY(100px);
   color: white;
}
.under-hasta-pass-area{
    height: 12vh;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}
.under-hasta-pass-design{
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.under-hasta-pass-design>p{
    font-size: 30px;
}
/*  We Are Hasta Css Section End */
/* Lorem Section Css Area Start */
.lorem-area>div>div>div>p{
    color: #fd602c;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    transform: translateY(70px);
}
.lorem-bottom-border{
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    height: 40vh;
}
.lorem-top-bottom-border{
    padding-bottom: 80px;
}
/* Lorem Section Css Area End */
/* Meet Our Team Section Css Area Start */
.meet-our-team-header{
    padding-bottom: 20px;
}
.meet-our-team-header>h3{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
.meet-our-team-header>p{
    text-align: center;
    font-size: 17px;
    color: gray;
}
/*  */
.our-team-image-part-1>div>img{
    width: 100%;
    z-index: -2;
}
.persons-bio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center; 
    background-color: rgb(207, 207, 207); 
    z-index: 1; 
}
.overflowdiv{
    height: 40px;
    position: absolute;
    width: 252px;
    transform: translateY(-40px);
    overflow: hidden;
}
.bio-hover-div{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 252px;
    height: 40px;
    transition: 0.4s ease;
    background-color: #fd602c; 
    transform: translateY(40px);
    z-index: -2;

}
.bio-hover-div>i{
    margin-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
}
.our-team-image-icon-third{
    color: rgba(0, 0, 0, 0.719) !important;
}
.persons-bio>h4{
    font-size: 20px;
}
.persons-bio>p{
    color: gray;
    padding-top: 20px;
}
.our-team-image-hover1:hover .bio-hover-div{
    transform: translateY(0px);
    z-index: 2; 
}
.our-team-image-hover1:hover .persons-bio{
    background-color: #272626;
}
.third-image-person-bio{
    background-color: #272626;
}
.third-image-person-bio>h4{
    color: white;
}
.third-image-bio-div{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 252px;
    height: 40px;
    transition: 0.4s ease;
    background-color: #fd602c;     
    z-index: -2;
}
.third-image-bio-div>i{
    margin-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
}
.our-team-image-hover1:hover .persons-bio>h4{
    color: white;
}
/* Meet Our Team Section Css Area End */
/* What We Offer Section Start */
.header-div>h5{
    text-align:left;
    font-size: 25px;
    font-weight: 10;   
}
/* Accordion Area */
.accordion-div>button{
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    background-color: white;
    border: none;
    text-align: left;
}
.accordion-div{
    padding-top: 20px;
}
.accordion-div>button>span{
    padding-left: 10px;
}
.lorem-ipsum-accordion>p{
    text-align: left;
    color: gray;
    padding: 30px;
}
.lorem-ipsum-accordion{
    overflow: hidden;
    height: 15vh;  
}
#creative-design-span{
    font-size: 16px;
}
.lorem-ipsum-accordion>p{
    font-size: 14px;
}
/* Accordion Area End */
/* Our Skill Area */
.our-skils{
    padding-top: 10px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}
.progress-divs{
    background-color: white;
}
.progress-div-javascript{
    width: 90%;
    background-color: #fd602c;
}
.progress-div-photoshop{
   width: 80%;
   background-color: #fd602c;
}
.progress-div-design{
    width: 70%;
    background-color: #fd602c;
}
.progress-div-photography{
    width: 75%;
    background-color: #fd602c;
}
/* Mini Slider Area */
.firstslider-section{
    height: 250px;
    display: flex;
    flex-direction: column;
}
.slider-area-first-div{
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slider-area-first-div>p{
    color: gray;
    font-size: 16px;
}
.imagediv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.roundeddiv{
    width: 130px;
    height: 130px;
    border:5px solid #fd602c;
    overflow: hidden;
    border-radius: 100%;
}
.contentdiv{
    margin-top: 10px;
    margin-left: 10px;
}
.contentdiv>h6{
    font-size: 18px;
}
.contentdiv>span{
    color: #fd602c;
}
/* Mini Slider Area */
/* What We Offer Section End */
/* Main Area End */
/* Footer Area Start */
/* Dark Footer Section Start */
.footer-top-header{
    padding-bottom: 30px;
}
.allfooterheader{
    color: white;
    font-weight: 1 !important;
    font-size: 20px;
    padding-top: 50px;
    transform: translateY(10px);  
}
.footerheadercol{
    color: gray;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60vh;
}
.allfooterheader>h3{
    font-size: 24px;
    font-weight: 2;
}
.circlearrowfooter{
    border:1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: black;
    background-color: white;
    text-align: center;
}
.hasta-adress-area{
    transform: translateY(30px);
}
.footerhastaarea{
    display: flex;
    flex-direction: row;    
}
.footerhastah1{
    color: white !important;
    font-size: 30px;
    font-weight: 2;
    margin-left: 10px;
    margin-top: -5px;
}
.footerheadercol>address{
    color: gray;
}
/* Footer Header Main Col-2 Area Start*/
.picturediv{
    transform: translateY(25px);
}
.redpenflexdiv{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.redpenflexdiv>div>h3{
    font-size: 17px;
    font-weight: 2;
    color: white;
}
.redpenflexdiv>div>p{
    font-size: 14px;
    color: gray;
}
.redpenflexdiv>div>span{
    font-size: 14px;
    transform: translateY(-15px);
    color: rgba(128, 128, 128, 0.699);
}
.redpenflexdivsecond{
    border-top: 1px solid gray;
    padding-top: 10px;
}
.redpenimg{
    border-radius: 100%;
    overflow: hidden;
}
.redpenimg>img{
    width: 100%;
    height: 95%;
}
.redpendivtagarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* Footer Header Main Col-3 Area Start */
.footerheadercol>div>h3{
    font-weight: 2;
    color: white !important;
}
.borderbottomdivfooterarea{
    border-bottom: 2px solid white;
    width: 20px;
}
.footerbuttondivs{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-top: 20px;
}
.allbuttons{
    background-color: transparent;
    border:none;
    outline: 1px solid rgba(128, 128, 128, 0.534);
    color: gray;
    font-size: 16px;
}
.designbutton{
    color: #fd602c;
    outline-color: #fd602c;
}
.allbuttons:hover{
    color: #fd602c;
    outline-color: #fd602c;
}
.leftbutton{
    margin-left: 10px;
}
.footerbuttondivs>div>span{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
/* Footer Header Main Col-4 Area Start */
.useful-links-div{
    transform: translateY(10px);
}
.footerendivflex{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.footerendivflex>a{
    margin-top: 10px;
}
.footerendadress{
    color: gray;
    font-size: 15px;
}
.footerendadress:hover{
    color: white;
}
.footerendadress>i{
    font-size: 9px;
}
/* Footer Area End */
.overrowline{
    background-color: #1a1b1be0;
}
.iconsoverfooterarea{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.endatag{
    padding: 10px 11px;
    border-radius: 100%;
    margin-left: 11px;
    background-color: white;
    color: #fd602c;
}
.endatag:hover{
    background-color: #fd602c;
    color: white;
}
.paddingicons{
    padding: 10px 14px;
}
.footercopyarea{
    color: gray;
    text-align: center;
    padding-bottom: 25px;
}
.fivefootericonscolor{
    background-color: #fd602c;
    color: white;
}